<html>
    <head>
        <title>Quoting Dojo</title>
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <div id="pagewrap">
            @RenderBody()
            </form>
        </div>
    </body>
</html>