body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

#pagewrap {
    max-width: 75rem;
    display: block;
    margin: 0 auto;
    padding-top: 2rem;
}

h1 {
    text-align: center;
}

form {
    display: block;
    width: 400px;
    margin: 0 auto;
}

form label {
    display: inline-block;
    width: 100px;
    margin-bottom: 1rem;
    vertical-align: top;
}

form input[type="text"], form textarea {
    display: inline-block;
    width: calc(100% - 105px);
}

form textarea {
    height: 5rem;
}

.button {
    background-color: #444;
    border: 2px solid #444;
    color: #fff;
    font-size: 1.1rem;
    padding: 6px 18px;
    transition: all 0.3s ease 0s;
    margin-top: 1rem;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: transparent;
    color: #444;
    cursor: pointer;
}

.float-right {
    float: right;
}

.quote {
    padding: 1rem;
    margin: 1rem 0;
    border-bottom: 1px solid black;
}

.quote p:first-child {
    font-size: 1.25rem;
}

.quote .author {
    margin-left: 2rem;
}